In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

%matplotlib inline

In [2]:
df_train= pd.read_csv('./datasets/train.csv')

df_test= pd.read_csv('./datasets/test.csv')

In [3]:
df_train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
df_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [5]:
df_train.shape

(2051, 81)

In [6]:
df_train.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

In [7]:
df_train.dtypes

Id                int64
PID               int64
MS SubClass       int64
MS Zoning        object
Lot Frontage    float64
                 ...
Misc Val          int64
Mo Sold           int64
Yr Sold           int64
Sale Type        object
SalePrice         int64
Length: 81, dtype: object

In [8]:
df_train.columns[0:30]

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond'],
      dtype='object')

In [9]:
df_train.columns[31:50]

Index(['Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1',
       'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air', 'Electrical',
       '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area',
       'Bsmt Full Bath', 'Bsmt Half Bath'],
      dtype='object')

In [10]:
df_train.columns[51:82]

Index(['Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual',
       'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Fireplace Qu',
       'Garage Type', 'Garage Yr Blt', 'Garage Finish', 'Garage Cars',
       'Garage Area', 'Garage Qual', 'Garage Cond', 'Paved Drive',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Pool QC', 'Fence', 'Misc Feature',
       'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type', 'SalePrice'],
      dtype='object')

In [11]:
df_train['Exterior 1st'].value_counts()

VinylSd    724
MetalSd    331
HdBoard    300
Wd Sdng    276
Plywood    152
CemntBd     90
BrkFace     64
WdShing     45
AsbShng     33
Stucco      27
BrkComm      3
CBlock       2
Stone        2
ImStucc      1
AsphShn      1
Name: Exterior 1st, dtype: int64

In [12]:
df_train['Bldg Type'].dtypes

dtype('O')

In [13]:
df_train['Bldg Type'].value_counts()

1Fam      1700
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: Bldg Type, dtype: int64

In [14]:
df_train['Bldg Type'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2046    False
2047    False
2048    False
2049    False
2050    False
Name: Bldg Type, Length: 2051, dtype: bool

In [15]:
newdf = df_train.drop(df_train[df_train['Bldg Type'] == 'NA'].index, inplace = True)

In [16]:
df_train.head(40)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
5,138,535126040,20,RL,137.0,16492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,190000
6,2827,908186070,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2006,New,140000
7,145,535154050,20,RL,NaN,12160,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,5,2010,COD,142000
8,1942,535353130,20,RL,NaN,15783,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,400,6,2007,WD,112500
9,1956,535426130,60,RL,70.0,11606,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,9,2007,WD,135000
10,1044,527451290,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2008,COD,85400
11,2752,906380150,20,RL,64.0,7488,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,2,2006,WD,183600
12,807,906226060,70,RL,120.0,26400,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,6,2009,WD,131000
13,1177,533236070,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,12,2008,ConLD,200000
14,1480,907418040,20,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2008,WD,193000
15,324,923202105,20,RL,93.0,10114,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,173500
16,1311,902301140,70,RM,34.0,4571,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,5,2008,COD,98000
17,770,905101490,20,RL,80.0,8816,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,NaN,0,6,2009,WD,139000
18,2063,905107140,20,RL,71.0,8197,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,NaN,0,4,2007,WD,143500
19,69,528458070,60,FV,72.0,8640,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,Con,215200
20,2062,905106150,20,RL,109.0,8724,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,5,2007,WD,129000
21,351,527131030,120,RL,40.0,5664,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,10,2009,WD,278000
22,2393,528142010,60,RL,103.0,12867,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,7,2006,New,344133
23,12,527165230,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,185000
24,2339,527250040,190,RL,100.0,34650,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,1,2006,WD,145000
25,624,535104120,20,RL,92.0,10573,Pave,NaN,IR1,Lvl,...,288,0,NaN,GdPrv,NaN,0,4,2009,WD,187500
26,86,532376160,20,RL,65.0,8450,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,138500
27,1534,909277040,50,RL,NaN,11700,Pave,Grvl,IR1,HLS,...,0,0,NaN,NaN,NaN,0,7,2008,WD,198000
28,2243,911103060,190,C (all),75.0,8250,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2007,WD,119600
29,1957,535450190,50,RL,60.0,8064,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,Shed,2000,7,2007,WD,122900
30,380,527355150,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,...,0,0,NaN,MnPrv,NaN,0,7,2009,WD,278000
31,2860,909276010,70,RL,NaN,11435,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,6,2006,WD,230000
32,2517,533250130,120,RL,30.0,9549,Pave,NaN,IR1,Lvl,...,216,0,NaN,NaN,NaN,0,4,2006,WD,270000
33,1933,535302070,20,RL,60.0,10950,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2007,WD,125000
34,820,906340110,20,RL,79.0,10637,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,9,2009,WD,297000
35,675,535426150,20,RL,80.0,9000,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,4,2009,WD,113500
36,2910,923225240,160,RM,41.0,2665,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2006,WD,127000
37,21,527358140,20,RL,105.0,11751,Pave,NaN,IR1,Lvl,...,0,0,NaN,MnPrv,NaN,0,1,2010,COD,190000
38,1873,534177210,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,9,2007,WD,175500
39,2125,907135050,20,RL,60.0,8428,Pave,NaN,IR2,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,146000

In [17]:

df_test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [18]:
df1 = df_train.drop(['PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Condition 1',
       'Condition 2','Roof Style',
       'Roof Matl',
         'Exter Cond','Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1',
       'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2',
        'Heating', 'Heating QC', 'Central Air', 'Electrical',
         'Low Qual Fin SF', 'Gr Liv Area',
        'Bsmt Half Bath', 'Kitchen AbvGr',
       'Fireplace Qu',
         'Garage Finish', 
         'Garage Cond', 
         'Enclosed Porch', '3Ssn Porch',
       'Screen Porch',  'Pool QC', 'Fence', 'Misc Feature',
       'Misc Val',  'Sale Type','Bsmt Qual','BsmtFin Type 1','BsmtFin SF 1','Garage Qual','Kitchen AbvGr','Bsmt Half Bath','Misc Val','Pool Area'],axis = 1)

In [19]:
df1.head()

,Id,Lot Area,Neighborhood,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Exterior 1st,...,Garage Type,Garage Yr Blt,Garage Cars,Garage Area,Paved Drive,Wood Deck SF,Open Porch SF,Mo Sold,Yr Sold,SalePrice
0,109,13517,Sawyer,1Fam,2Story,6,8,1976,2005,HdBoard,...,Attchd,1976.0,2.0,475.0,Y,0,44,3,2010,130500
1,544,11492,SawyerW,1Fam,2Story,7,5,1996,1997,VinylSd,...,Attchd,1997.0,2.0,559.0,Y,0,74,4,2009,220000
2,153,7922,NAmes,1Fam,1Story,5,7,1953,2007,VinylSd,...,Detchd,1953.0,1.0,246.0,Y,0,52,1,2010,109000
3,318,9802,Timber,1Fam,2Story,5,5,2006,2007,VinylSd,...,BuiltIn,2007.0,2.0,400.0,Y,100,0,4,2010,174000
4,255,14235,SawyerW,1Fam,1.5Fin,6,8,1900,1993,Wd Sdng,...,Detchd,1957.0,2.0,484.0,N,0,59,3,2010,138500

In [20]:
df1.to_csv("cleaned_data.csv",index=False)